#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000dff; 
  color: #fffcfc;
  padding: 12px 14px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  display: none; 
  z-index: 9999;
  transition: all 0.3s ease;
}

#back-to-top:hover {
  background-color: #0004ff;
  transform: translateY(-3px);
}