#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #FFD700; /* doré */
  color: #000;
  padding: 12px 14px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  display: none; /* caché par défaut */
  z-index: 9999;
  transition: all 0.3s ease;
}

#back-to-top:hover {
  background-color: #fff200;
  transform: translateY(-3px);
}