.search-input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  min-width: 290px;
  max-width: 100%;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  background-color: transparent;
}

.search-input:focus {
  border-color: #007BFF;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
  border: 2px solid blue;
}
@media (max-width: 800px){
    .search-input{
        min-width: 150px;
    }
}
