        /* From Uiverse.io by csemszepp */ 
.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed gold; /* or gold border */
  background-color: black;  /* background en noir */
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px gold; /* ombre dorée */
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: yellow; /* icône en jaune */
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: gold; /* texte en doré */
}

.custum-file-upload input {
  display: none;
}