 input.valid {
      border: 2px solid green;
    }

    input.invalid {
      border: 2px solid red;
    }

    #toggleLangBtn {
      margin: 10px;
      padding: 10px 15px;
      font-size: 16px;
    }

    body.arabic {
      direction: rtl;
      font-family: "Arial", "Tahoma", sans-serif;
    }

    body.french {
      direction: ltr;
      font-family: Arial, sans-serif;
    }
    #togglePassword {
  transition: color 0.3s ease, transform 0.3s ease;
}
#togglePassword:active {
  transform: scale(1.2);
}
#errorMessage {
  margin-top: 10px;
  font-weight: bold;
  color: red;
  padding: 8px;
  border: 1px solid red;
  border-radius: 4px;
  max-width: 530px;
  background-color: #ffe6e6;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 0.3s ease;
}

body.french #errorMessage {
  direction: ltr;
  text-align: left;
}

body.arabic #errorMessage {
  direction: rtl;
  text-align: right;
}
#errorMessage.show {
  opacity: 1;
  display: block !important;
}

